
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font familly connect */
@font-face {
  font-family:Montserrat-Bold;
  src: url('./assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family:Montserrat-Medium;
  src: url('./assets/fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family:Montserrat-Black;
  src: url('./assets/fonts/Montserrat-Black.ttf');
}

@font-face {
  font-family:Montserrat-SemiBold;
  src: url('./assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family:Montserrat-Regular;
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}


.font-monst-bold{
  font-family: Montserrat-Bold !important;
}
.font-monst-reg{
  font-family:Montserrat-Regular !important;
}
.font-monst-mid{
  font-family: Montserrat-Medium !important;
}
.font-monst-black{
  font-family: Montserrat-Black !important;
}

.font-monst-semiBold{
  font-family: Montserrat-SemiBold !important;
}


.header-main{
  background-color: #DEF72D ;
}

.main-menu{
  cursor: pointer;
  color: #0F0F0F !important;
  text-decoration: none;
}



.ln{
  transition: 0.2s;
}
.ln:hover{
  font-weight: 800;
}
.b-l-1{
  border-right:  1px solid #0F0F0F !important;
}



.btn-buy{
  padding: 2rem;
  background-color: #192025 !important;
  color: #DEF72D !important;
  border-radius: 0 !important;
  font-size: 19px;
}
.btn-buy-two{
  background-color: #DEF72D !important;
  color: #192025 !important;
  text-transform: uppercase;
  border-radius: 0 !important;

}
.header-main{
  min-height: 85px;
}
.home-h{
  margin-top: 85px;
}
.bg-theam{
  background-color: #192025;
}

.w-80{
  width: 80%;
}
.w-70{
  width: 70%;
}
.w-75{
  width: 75%;
}
.w-65{
  width: 65%;
}
.w-55{
  width: 55%;
}

.text-green{
  color: #DEF72D;
}

.center-h{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-h{
  position: relative;
  z-index: 111;
}
.sub-title{
  position: absolute;
  top: 0;
  width: 100%;

}
.img-box-1{
  width: 450px;
  height:480px;
  z-index: -1;
}
.img-box-girl{
  height: 350px;
  width: auto;
}
/* ------------------------------------herothree------------- */
.bg-exchange{
background-color: #E3E8BF;
}
/* ----------------------------------greenravlution------------- */

/* ----------------------------------------------------- */
.font-30{
  font-size:1.8rem !important;
}
.font-34{
  font-size:2.125rem !important;
}
.font-24{
  font-size: 1.5rem !important;
}
.font-22{
  font-size: 1.375rem !important;
}
.font-40{
  font-size: 2.5rem !important ;
}
.font-16{
  font-size: 1rem !important;
}
.font-13{
  font-size: 0.813rem !important;
}
.font-70{
   font-size:4.375rem !important;
}
.font-14{
  font-size: 0.875rem !important;
}
.font-18{
  font-size: 1.125rem !important;
}
.font-12{
  font-size: 0.75rem !important;
}
.line-h-40{
  line-height: 2.5rem !important;
}
.line-h-50{
  line-height: 3.125rem !important;
}



.w-90{
  width: 90%;
}
.w-60{
  width: 60%;
}
.w-40{
  width: 40%;
}
.border-b-greay{
border-bottom:1px solid #30363a;
}
.img-icon-x{
  height: 60px;
  width: 100%;
}
.big-text{
  font-size: calc(0.5rem + 8.5vw);
}


/* ----------------------------meadia query---------- */

@media screen and (min-width: 1200px) {
  #home .container,
  #whitepaper .container,
  #exchangeCoin .container,
  #greenravluation .container
  {
    max-width: 78%;
  }
  
}
@media (max-width: 576px) { 
  .font-169 {
    font-size: 4.563em !important; 
  }
  .font-50{
    font-size: 2.125rem !important;
  }
  .font-55{
    font-size: 1.5rem !important;
  }
  .text-left-sum {
    width: 100% ;
  }
  .text-right-sum{
    width: 100% ;
  }
  .font-30{
    font-size:1.3rem !important;
  }
  .img-icon{
    height: 90px;
    width: 90px;
  }
  .img-box-1{
    width: 200px;
    height:250px;
    z-index: -1;
  }
  .font-38{
    font-size: 1.55rem;
  }
  .home-h{
    min-height:100%;
    
  }
  
  .font-22{
    font-size: 0.875rem !important;
  }
  .font-40{
    font-size: 1.25rem !important ;
  }
  .font-16{
    font-size: 0.65rem !important;
  }
  .font-14{
    font-size: 0.565rem !important;
  }
  .font-18{
    font-size: 0.563rem !important;
  }
  .line-h-40{
    line-height:1.25rem !important;
  }
  .font-20{
    font-size: 0.625rem !important;
  }
  .font-34{
    font-size:1.125rem !important;
  }
  .line-h-50{
    line-height: 1.15rem !important;
  }
  .line-h-30{
    line-height: 1.87rem !important;
  }
  .img-box-girl{
    height: 150px;
    width: auto;
  }
  .header-main{
    min-height: 60px;
  }
  .home-h{
    margin-top: 60px;
  }
  .font-70{
    font-size:2.188rem !important;
  }
  
 }
 @media (min-width: 576px) { 
  .font-169 {
    font-size: 4.563em !important; 
  }
  .font-55{
    font-size: 1.8rem !important;
  }
  .font-50{
    font-size: 2.125rem !important;
  }
  
  .text-left-sum {
    width: 100% ;
  }
  .text-right-sum{
    width: 100% ;
  }
  .font-30{
    font-size:1.3rem !important;
  }
  .img-icon{
    height: 90px;
    width: 90px;
  }
  .img-box-1{
    width: 200px;
    height:250px;
    z-index: -1;
  }
  .font-38{
    font-size: 1.55rem;
  }
  .home-h{
    min-height:100%;
    
  }
  .font-22{
    font-size: 0.875rem !important;
  }
  .font-40{
    font-size: 1.25rem !important ;
  }
  .font-16{
    font-size: 0.65rem !important;
  }
  .font-14{
    font-size: 0.565rem !important;
  }
  .font-18{
    font-size: 0.563rem !important;
  }
  .font-20{
    font-size: 1.25rem !important;
  }
  .line-h-40{
    line-height:1.25rem !important;
  }
  .font-20{
    font-size: 0.625rem !important;
  }
  
.font-50{
  font-size: 2.125rem !important;
}
.font-34{
  font-size:1.125rem !important;
}
.line-h-50{
  line-height: 1.15rem !important;
}
.img-box-girl{
  height: 150px;
  width: auto;
}
.header-main{
  min-height: 60px;
}
.home-h{
  margin-top: 60px;
}
.line-h-30{
  line-height: 1.05rem !important;
}
.font-70{
  font-size:2.188rem !important;
}
.font-box{
  min-width: 85px;
  text-align: end;
}
 }


@media (min-width: 768px) {
  .font-169 {
    font-size: 5.563em !important; 
  }
  .font-55{
    font-size: 2.438rem !important;
  }
  
  .font-14{
    font-size: 0.875rem !important;
  }
  
  .img-icon{
    height: 100px;
    width: 100px;
  }
  .img-box-1{
    width: 300px;
    height:350px;
    z-index: -1;
  }
  .font-38{
    font-size: 1.85rem;
  }
  .font-40{
    font-size: 2rem !important ;
  }
  .font-18{
    font-size: 0.875rem !important;
  }
  .line-h-40{
    line-height:1.875rem !important;
  }
  .font-20{
    font-size: 0.875rem !important;
  }
  .font-34{
    font-size:1.925rem !important;
  }
  
 #sub-ic-text .font-38{
   font-size: 1.5rem !important;
 }
 .line-h-50{
  line-height: 2.188rem !important;
}
.img-box-girl{
  height: 250px;
  width: auto;
}
.header-main{
  min-height: 65px;
}
.line-h-30{
  line-height: 1.05rem !important;
}
.font-70{
  font-size:3.125rem !important;
}
.font-box{
  min-width: auto;
  text-align: end;
}
.font-box{
  min-width: 85px;
  text-align: end;
}
  }


@media (min-width: 992px) {
  .font-169 {
    font-size: 6.563em !important; 
  }
  .font-55{
    font-size: 3.138rem !important;
  }
  
  .text-left-sum {
    width: 80% ;
  }
  .text-right-sum{
    width: 80% ;
  }
  .img-box-1{
    width: 400px;
    height:450px;
    z-index: -1;
  }
  .font-38{
    font-size: 2.75rem;
  }
 
  .font-24{
    font-size: 1.2rem !important;
  }
  .font-22{
    font-size: 1.175rem !important;
  }
  .font-40{
    font-size: 2.188rem !important ;
  }
  .font-16{
    font-size: 1rem !important;
  }
  
  .font-18{
    font-size: 0.9rem !important;
  }
  .font-20{
    font-size: 1.125rem !important;
  }
  
.font-50{
  font-size: 3.125rem !important;
}
#sub-ic-text .font-38{
  font-size: 2.375rem !important;
}
.font-34{
  font-size:2.025rem !important;
}
.line-h-50{
  line-height: 2.5rem !important;
}

.img-box-girl{
  height: 300px;
  width: auto;
}
.header-main{
  min-height: 85px;
}
.home-h{
  margin-top: 85px;
}
.line-h-30{
  line-height: 1.25rem !important;
}
.font-70{
  font-size:3.75rem !important;
}

 }
 

 @media (min-width: 1200px) { 
  .font-169 {
  font-size: 8.203em !important; 
}
.font-55{
  font-size: 3.338rem !important;
}


.font-30{
  font-size:1.8rem !important;
}
.img-icon{
  height: 140px;
  width: 140px;
}
.img-box-1{
  width: 450px;
  height:480px;
  z-index: -1;
}
.font-38{
  font-size: 2.375rem;
}
.font-24{
  font-size: 1.5rem !important;
}
.font-22{
  font-size: 1.375rem !important;
}
.font-18{
  font-size: 1.125rem !important;
}


.font-40{
  font-size: 2.5rem !important ;
}

.line-h-40{
  line-height: 2.5rem !important;
}
.font-20{
  font-size: 1.25rem !important;
}

.font-34{
  font-size:2.125rem !important;
}


.line-h-50{
  line-height: 3.125rem !important;
}

.img-box-girl{
  height: 350px;
  width: auto;
}
.home-h{
  min-height: calc(100vh - 96px);
}
.img-crypto-exchange{
  height: 320px !important;
  object-fit: cover;
}
.line-h-30{
  line-height: 1.87rem !important;
}
.font-70{
  font-size:4.375rem !important;
}
.font-box{
  min-width: 125px;
  text-align: end;
}
}




